table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #34495e; /* Warna header tabel */
    color: white;
}
/* Efek hover pada baris tabel */
tbody tr:hover {
    background-color: #f2f2f2;
}
@media screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr { border: 1px solid #ccc; margin-bottom: 10px; }
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }
    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
    td:nth-of-type(1):before { content: "No. Absen"; }
    td:nth-of-type(2):before { content: "Nama Lengkap"; }
    td:nth-of-type(3):before { content: "Jenis Kelamin"; }
}
